
@{
    ViewData["Title"] = "マスターメンテ";
}

<h2>マスターメンテ</h2>
<ul>
    <li><a asp-area="" asp-controller="ApplicationUsers" asp-action="Index">社員マスター</a></li>
    <li><a asp-area="" asp-controller="Bushoes" asp-action="Index">部署マスター</a></li>
    <li><a asp-area="" asp-controller="Roles" asp-action="Index">権限マスター</a></li>

</ul>

