
@{
    ViewData["Title"] = "勤怠管理";
}

<h2>@ViewData["Title"]</h2>

<div>
    <div class="row">
        <form asp-action="Rec" method="post">

            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-danger btn-lg col-md-offset-2 col-md-3">記録</button>
            </div>
        </form>
    </div>
</div>