@model n_hashimotoStudy.Models.ApplicationUser

@{
    ViewData["Title"] = "社員情報　登録";
}

<h2>社員情報　登録</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SyainName" class="control-label"></label>
                <input asp-for="SyainName" class="form-control" />
                <span asp-validation-for="SyainName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SyainNo" class="control-label"></label>
                <input asp-for="SyainNo" class="form-control" />
                <span asp-validation-for="SyainNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BelongBusho" class="control-label"></label>
                @*<input asp-for="Busho.BushoName" class="form-control" />*@
                <select asp-for="BelongBusho" asp-items="ViewBag.BushoList" class="form-control">
                    <option value="">選択してください</option>
                </select>
                <span asp-validation-for="BelongBusho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasRole" class="control-label"></label>
                @*<input asp-for="Busho.BushoName" class="form-control" />*@
                <select asp-for="HasRole" asp-items="ViewBag.RoleList" class="form-control">
                    <option value="">選択してください</option>
                </select>
                <span asp-validation-for="HasRole" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="登録" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">社員マスターに戻る</a>
</div>

